
.slide-menu h3{
	color:white !important;
	background: #1963ae !important;
	text-align: center;
	padding:10px ;
	 font-size: 20px;

}

.slide-menu .biz-cnt{
	margin:10px;
	/*padding:10px;*/
	
	
}

.slide-menu .biz-cnt .item{
	margin:10px 0px;
	padding:10px 10px;
	background:#ffffffc9;
	font-weight: 600;
    font-size: 18px;
}

.slide-menu .biz-cnt .item:hover{
	font-weight: 700;
}
@media (max-width:1100px){
    .sreen-responsive{
        margin-left:200px;
    }
}
@media (min-width:1200px){
    .sreen-responsive{
        margin-left:800px;
    }
}
@media (min-width:1400px){
    .sreen-responsive{
        margin-left:1000px;
    }
}
@media (min-width:1600px){
    .sreen-responsive{
        margin-left:1200px;
    }
}
